<meta name="description" content="{{ site.description }}">
<link rel="icon" type="image/svg+xml" href="{{ asset_url 'favicon.svg' }}">
<link rel="stylesheet" href="{{ asset_url 'css/style.css' }}">
<link rel="stylesheet" href="{{ asset_url 'css/prism-ember.css' }}">
{{ if page && page.collection && page.collection.feed }}
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} Feed" href="{{ site.base_url }}{{ page.collection.url }}feed.xml">
{{ end }}
{{ if collection && collection.feed }}
<link rel="alternate" type="application/atom+xml" title="{{ site.title }} Feed" href="{{ site.base_url }}{{ collection.url }}feed.xml">
{{ end }}
